<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>filtering customer</h2>
    <p>
    {% if customers %}
        <ul>
        {% for customer in customers %}
            <li>{{ customer.name }} — {{ customer.email }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No customers found with '@example.com'</p>
    {% endif %}

    </p>
    <a href="{% url 'add_customer' %}">Add Customer</a> |
    <a href="{% url 'all_coustomers' %}">All Customers</a>
</body>
</html>