<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <nav>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/contact/">Contact</a>
   </nav>


     
        {% block content %}
        {% endblock %}
    

    <footer>
         <h3>Notice Board</h3>
        <ul>
            <li>Website will be under maintenance this Saturday</li>
            <li>New blog section coming soon!</li>
            <li>Contact us for more information</li>
        </ul>
    </footer>
</body>
</html>